input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Inverts color to make it visible if icon is white */
    cursor: pointer;
  }

  input[type="password"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Inverts color to make it visible if icon is white */
    cursor: pointer;
  }